/**
 * index.scss
 * styles for main quest log go here !
 */

@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');

@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

:root {
  --dark1: rgba(95, 56, 29, 1);
  --dark2: rgba(95, 56, 29, 0.3);
}

body {
  background: #eee;
  background-image:url('https://cdn.discordapp.com/attachments/292274811185397770/714636196151820329/table-bg-ver-1.png');
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center;
  background-attachment:fixed;
  color:#333;
  font-family:arial, sans serif;
  margin:0;
}

#pagebg {
  display: flex;
  height: 600px;
  overflow:hidden;
  align-items: center;
  justify-content: center;
  background-image:url('https://cdn.discordapp.com/attachments/292274811185397770/714648259246948352/quest-log-temp.png');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:800px;
  box-sizing:border-box;
  margin: 0 auto;
  margin-top:100px; 
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
}

#pagescroll {
  overflow:hidden;
  height:200px;
  width:720px;
  text-align:justify;
  line-height:200%;
  font-family:'Gentium Book Basic', serif;
  font-size:14px;
  height:500px;
}

.questtitle {
  font-family: 'MedievalSharp', serif; 
  letter-spacing:2px;
  font-size:16px;
  font-weight:bold;
  color:var(--dark1);
  margin:2px 0px;
  width:200px;
  box-sizing:border-box;
  display:block;
  text-decoration:none;
}

.questtitle:hover {
  letter-spacing:2.5px;
}

.questpoint {
  margin-top:10px;
  width:380px;
  height:470px;
  overflow:auto;
}

.questflex {
  display:flex;
  width:700px;
  height:500px;
  overflow:hidden;
  box-sizing:border-box;
}

.questnav {
  overflow:auto;
  margin-top:40px;
}

.questnav::-webkit-scrollbar {   
  width:0px;
}

.questpoint::-webkit-scrollbar {   
  width:0px;
}

.pagetitle {
  font-family: 'MedievalSharp', serif; 
  letter-spacing:2px;
  font-size:24px;
  font-weight:bold;
  color:var(--dark1);
  width:200px;
  margin-bottom:10px;
  text-transform:uppercase;
  position:absolute;
}

.subpoint {
  font-family: 'MedievalSharp', serif; 
  letter-spacing:1px;
  font-size:12px;
  font-weight:bold;
}
/* SLIDER */

.questslider {
  margin-left:100px;
  width:380px;
  height:500px;
  box-sizing:border-box;
  overflow:hidden;
}

.questslides {
  display: flex;
  overflow-y:hidden;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
}

.questslides::-webkit-scrollbar {
  width: 0;
  height: 0;
}
